 /* =========================
            HEADER
========================= */

.header {
  width: 100%;
  height: 60px;
  background: #161267;
  position: static;
  overflow-x: hidden;
}


/* =========================
       ACCOUNT FIELD
========================= */

.account-field {
  grid-area: account;
  width: 100%;
  height: 80px;
  border: solid 1px #707070;
}

.account-field__icons-flex-container {
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

.account-field__icon {
  align-self: center;
  font-size: 2.5em;
}

.account-field__icon:not(:last-child) {
  margin-right: 16px;
}

.bell-icon {
  position: relative;
}

.notification {
  width: auto;
  min-width: 14px;
  height: 14px;
  position: absolute;
  top: -3px;
  right: -3px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  background: #FF0000;
  color: #ffffff;
  font-size: .5rem;
}

.account-field__btn {
  width: 100px;
  height: 40px;
  padding: 0 1em;
  align-self: center;
  text-align-last: left;
  margin-right: 16px;
  position: relative;
  background: #161267;
  color: #ffffff;
}

.account-field__btn--share {
  font-size: 1.6em;
}

.account-field__icon--share {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 1.6rem;
}

.user-menu-trigger { 
  position: relative;
  margin: 0 25px 0 9px;
  align-self: center;
  font-size: 1.6em;
  cursor: pointer;
}

.account-field__user-icon-wrap {
  width: 60px;
  height: 60px;
  align-self: center;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.account-field__user-icon {
  width: auto;
  height: 100%;
}


/* =========================
         USER MENU
========================= */

.user-menu-box {
  width: 200px;
  height: auto;
  padding: 32px 16px;
  position: absolute;
  top: 16px;
  right: 0;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 3px 8px #707070;
  font-size: 1.0rem;
}

.user-menu-list:not(:last-child) {
  margin-bottom: 32px;
}

.user-menu-icon {
  margin-right: 8px;
}

.user-menu__setting {
  position: relative;
}

.setting-menu{
  width: 200px;
  height: auto;
  padding: 32px 16px;
  position: absolute;
  top: 0;
  left: -200px;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 3px 8px #707070;
  font-size: 1.0rem;
}

.setting-menu-list:not(:last-child) {
  margin-bottom: 32px;
}

.setting-menu-icon {
  margin-right: 8px;
}