/* =========================
        SIDE MENU
========================= */

.side-menu {
  grid-area: aside;
  /* width: 250px; */
  height: calc(100vh - (60px + 80px));
  padding: 48px 24px;
  position: relative;
  border: 1px solid #707070;
  border-top: none;
  border-bottom: none;
}

.categories {
  font-size: 2.0em;
  color: #000000;
}

.categories__list {
  margin-bottom: 24px;
}

.categories-icon {
  margin-right: 8px;
}

.side-menu__category {
  width: 100%;
}

.side-menu__category--select {
  width: 100%;
  background: none;
  font-size: 1.2em;
}

.side-menu__search-window--wrap {
  position: relative;
  margin-bottom: 24px;
}

.side-menu__search-window {
  margin-bottom: 0;
  padding: 8px;
  border: solid 1px #707070;
  border-radius: calc(2.5em / 2);
}

.side-menu__search-window:focus {
  outline: none;
}

.side-menu__search-window--icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 1.6em;
}

.side-menu__submit{
  width: 100%;
  margin: 0;
  background: #ffffff;
  border: 1px solid #161267;
  border-radius: calc(250px / 2);
  color: #161267;
}

.side-menu__submit:hover {
  background: #161267;
  color: #ffffff;
  transition: all .5s ease-out;
}

.side-menu__create-btn--large-screen {
  width: 80%;
  height: 3em;
  position: absolute;
  bottom: 48px;
  background: #161267;
  border-radius: calc(3em / 2);
  color: #ffffff;
  font-size: 1.6em; 
}

.side-menu__create-btn--small-screen {
  width: 50px;
  height: 50px;
  background: #161267;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 40px;
  box-shadow: 0px 3px 8px #707070;
  z-index: 3;
  display: none;
}

.create-icon {
  font-size: 1.8em;
  color: #ffffff;
}

/* small screen */
@media screen and (max-width: 560px) {
  .side-menu {
    width: 32px;
    padding: 48px 8px;
  }
  
  .categories {
    font-size: 1.6em;
  }
  
  .categories-icon {
    margin-right: 0px;
  }

  .categories__list-text {
    display: none;
  }
  
  .side-menu__search-window--wrap {
    display: none;
  }
  
  .side-menu__create-btn--large-screen {
    display: none;
  }

  .side-menu__create-btn--small-screen {
    display: block;
  }
}
