 /* =========================
         ISSUE CODE
========================= */

.change-pass{
  width: 100%;
  height: 100vh;
  padding-top: calc(100vh / 3);
  background-image: url(./../images/changePass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.change-pass__content-wrap {
  width: 50%;
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto;

}

.change-pass__title {
  margin-top: 0;;
  color: #161267;
  font-size: 2.5em;
}

.change-pass__to-signup {
  margin-bottom: 32px;
}

.change-pass__submit {
  background: #161267;
  border: none;
  color: #ffffff;
}