/* =========================
      EDIT PROFILE
========================= */

.edit-profile {
  width: 100%;
  height: auto;
  padding-top: 108px;
  background-image: url(./../images/edit-profile.jpg);
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.edit-profile__content-wrap {
  width: 50%;
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto 108px;

}

.edit-profile__title {
  margin-top: 0;;
  color: #161267;
  font-size: 2.5em;
}

.edit-profile__to-signin {
  margin-bottom: 32px;
}

.edit-profile__submit {
  margin-top: 32px;
  background: #ffffff;
  border: 1px solid #161267;
  color: #161267;
}

.edit-profile__submit:hover {
  background: #161267;
  color: #ffffff;
  transition: all 1s ease-out;
}