@charset "utf-8";

 /* =========================
            GRID
========================= */
body {
  display: grid;
  /* grid-template-columns:  250px 1fr; */
  grid-template-areas: 
    "header header"
    "account account"
    "aside main"
    ".. footer";
}

 /* =========================
            HEADER
========================= */

.header {
  grid-area: header;
  width: 100%;
  height: 60px;
  background: #161267;
  position: static;
  overflow-x: hidden;
}

 /* =========================
       ACCOUNT FIELD
========================= */

.account-field {
  grid-area: account;
  width: 100%;
  height: 80px;
  border: solid 1px #707070;
}

.account-field__icons-flex-container {
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

.account-field__icon {
  align-self: center;
  font-size: 2.5em;
}

.account-field__icon:not(:last-child) {
  margin-right: 16px;
}

.bell-icon {
  position: relative;
}

.notification {
  width: auto;
  min-width: 14px;
  height: 14px;
  position: absolute;
  top: -3px;
  right: -3px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  background: #FF0000;
  color: #ffffff;
  font-size: .5rem;
}

.account-field__btn {
  width: 100px;
  height: 40px;
  padding: 0 1em;
  align-self: center;
  text-align-last: left;
  margin-right: 16px;
  position: relative;
  background: #161267;
  color: #ffffff;
}

.account-field__btn--share {
  font-size: 1.6em;
}

.account-field__icon--share {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 1.6rem;
}

.user-menu-trigger { 
  position: relative;
  margin: 0 25px 0 9px;
  align-self: center;
  font-size: 1.6em;
  cursor: pointer;
}

.account-field__user-icon-wrap {
  width: 60px;
  height: 60px;
  align-self: center;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.account-field__user-icon {
  transform: scale(1.1, 1.1);
}

 /* =========================
         USER MENU
========================= */

.user-menu-box {
  width: 200px;
  height: auto;
  padding: 32px 16px;
  position: absolute;
  top: 16px;
  right: 0;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 3px 8px #707070;
  font-size: 1.0rem;
}

.user-menu-list:not(:last-child) {
  margin-bottom: 32px;
}

.user-menu-icon {
  margin-right: 8px;
}

 /* =========================
        SIDE MENU
========================= */

.side-menu {
  grid-area: aside;
  width: 250px;
  height: calc(100vh - (60px + 80px));
  padding: 48px 24px;
  position: relative;
  border: 1px solid #707070;
  border-top: none;
}

.categories {
  font-size: 2.0em;
  color: #000000;
}

.categories__list {
  margin-bottom: 24px;
}

.categories-icon {
  margin-right: 8px;
}

.side-menu__search-window--wrap {
  position: relative;
  margin-bottom: 24px;
}

.side-menu__search-window {
  margin-bottom: 0;
  padding: 16px;
  border: solid 1px #707070;
  border-radius: calc(2.5em / 2);
}

.side-menu__search-window:focus {
  outline: none;
}

.side-menu__search-window--icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 1.6em;
}

.side-menu__create-btn {
  width: 80%;
  height: 3em;
  position: absolute;
  bottom: 48px;
  background: #161267;
  border-radius: calc(3em / 2);
  color: #ffffff;
  font-size: 1.6em; 
}

 /* =========================
        PROFECT WINDOW
========================= */

.project-window {
  grid-area: main;
  width: calc(100vw - 250px);
  height: calc(100vh - (60px + 80px));
  margin: 0 auto;
  padding: 32px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.project-window__overroll--flex {
  width: 100%;
  min-width: 200px;
  height: 200px;
  flex-flow: row nowrap;
  justify-content: space-around;
  background: #E8E9EB;
  border: 1px solid #707070;
  overflow: scroll;
}

.project {
  align-self: center;
  text-align: center;
  font-size: 1.6em;
}

.project:not(:last-child) {
  margin-right: 32px;
}
.folder-icon {
  font-size: 5.0rem;
  color: #4D84FF
}


.tool-bar--flex-container {
  margin-bottom: 16px;
  padding: 16px 32px;
  border-bottom: 1px solid #737373;
  font-size: 1.6em;
}

.tool-bar__sort-flex-container {
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.sort-icon {
  margin-right: 16px;
}

.project-window__details {
  height: calc(100% - 200px);
  padding: 0 32px;
  font-size: 1.6em;
}

.project-window__table {
  width: 100%;
}

.file-name {
  width: calc(100% - (130px - 16px));
  min-width: 200px;
  text-align: left;
  font-size: 1.4em;
}

.file-icon {
  margin-right: 8px;
}

.file-time {
  min-width: 130px;
  text-align: right;
}

.file-menu {
  text-align: right;
}

.file-menu-trigger {
  position: relative;
  min-width: 16px;
  cursor: pointer;
}

 /* =========================
         FILE MENU
========================= */

.file-menu-box {
  width: 100px;
  height: auto;
  padding: 32px 16px;
  position: absolute;
  top: 16px;
  right: 0;
  text-align: left;;
  background: #ffffff;
  box-shadow: 0px 3px 8px #707070;
  font-size: 1.0rem;
  z-index: 1;
}

.file-menu-list:not(:last-child) {
  margin-bottom: 16px;
}

 /* =========================
         FOOTER
========================= */

footer {
  grid-area: footer;
  width: 100%;
  height: 180px;
  margin-top: 32px;
  border-top: 1px solid #737373;
}