@charset "utf-8";

 /* =========================
            HEADER
========================= */

.header {
  width: 100%;
  height: 60px;
  background: #161267;
  position: static;
}

 /* =========================
       ACCOUNT FIELD
========================= */

.account-field {
  width: 100%;
  height: 80px;
  border: solid 1px #707070;
}

.account-field__icons-flex-container {
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

.account-field__icon {
  align-self: center;
  font-size: 2.5em;
}

.account-field__icon:not(:last-child) {
  margin-right: 16px;
}

.account-field__btn {
  width: 100px;
  height: 40px;
  padding: 0 1em;
  align-self: center;
  text-align-last: left;
  margin-right: 16px;
  position: relative;
  background: #161267;
  color: #ffffff;
}

.account-field__btn--share {
  font-size: 1.6em;
}

.account-field__icon--share {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.account-field__user-menu { 
  width: 8px;
  height: 8px;
  margin: 0 25px 0 9px;
  align-self: center;
  position: relative;
  border: 1px solid #161267;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
}

.account-field__user-menu::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: -1px;
  left: -11px;
  border: 1px solid #161267;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
}

.account-field__user-menu::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: -1px;
  right: -11px;
  border: 1px solid #161267;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
}

.account-field__user-icon-wrap {
  width: 60px;
  height: 60px;
  align-self: center;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.account-field__user-icon {
  transform: scale(1.1, 1.1);
}

 /* =========================
        SIDE MENU
========================= */

.side-menu {
  width: 20%;
  max-width: 250px;
  min-width: 150px;
  height: calc(100vh - (60px + 80px));
  padding: 48px 24px;
  position: relative;
}

.categories {
  font-size: 2.0em;
  color: #000000;
}

.categories__list {
  margin-bottom: 24px;
}

.categories-icon {
  margin-right: 8px;
}

.side-menu__search-window--wrap {
  position: relative;
  margin-bottom: 24px;
}

.side-menu__search-window {
  margin-bottom: 0;
  border: solid 1px #707070;
  border-radius: calc(2.5em / 2);
}

.side-menu__search-window:focus {
  outline: none;
}

.side-menu__search-window--icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.side-menu__create-btn {
  width: 80%;
  position: absolute;
  bottom: 48px;
  background: #161267;
  border-radius: calc(2.5em / 2);
  color: #ffffff;
  font-size: 1.6em; 
}

 /* =========================
        PROFECT WINDOW
========================= */

.project-window {
  width: 80%;
  background: skyblue;
}

.tool-bar--flex-container {
  padding: 16px 32px;
  font-size: 1.6em;
  background: pink;
}

.tool-bar__sort-flex-container {
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.sort-icon {
  margin-right: 16px;
}

.project-window__details {
  padding: 0 32px;
  font-size: 1.6em;
}

.project-window__table {
  width: 100%;
}

.file-name {
  width: 70%;
  text-align: left;
  font-size: 1.4em;
}

.file-icon {
  margin-right: 8px;
}

.file-time {
  width: 25%;
  text-align: right;
}

.file-menu {
  width: 5%;
  text-align: right;
}