 /* =========================
         LOG IN
========================= */

.login{
  width: 100%;
  height: 100vh;
  padding-top: 108px;
  background-image: url(./../images/signup.jpg);
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login__content-wrap {
  width: 50%;
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto;

}

.login__title {
  margin-top: 0;;
  color: #161267;
  font-size: 2.5em;
}

.login__to-signin {
  margin-bottom: 32px;
}

.login__submit {
  background: #161267;
  border: none;
  color: #ffffff;
}