@charset "utf-8";

/* =========================
          BASE
========================= */



body {
  font-family: 'Oswald', Arial, 'Sawarabi Gothic', sans-serif;
  font-size: 62.5%;
  color: #3C3C3C;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  height: 2.5em;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

th, td {
  padding: 8px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

input {
  width: 100%;
  height: 2.5em;
  margin: 0 0 16px;
  padding: .5em;
  box-sizing: border-box;
  font-size: 1.6em;
  font-family: inherit;
}

input[type="submit"] {
  cursor: pointer;
}

select {
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  margin: 0 0 16px;
  font-size: 1.6em;
  color: #3C3C3C;
}

  .margin--0 {
    margin: 0;
  }

  .color--blue {
    color: #0f42a3;
  }

  .color--red {
    color: #ff0000;
  }

  .bg--skyblue {
    background: #9DCAFF;
  }

  .bg--orange {
    background: #F77D31;
  }

  .bg--green {
    background: #30EB95;
  }

  .fz--small {
    font-size: 1.4em;
  }

  .icon--black {
    color: #000000;
  }

  .icon--white {
    color: #ffffff;
  }

  .icon--theme-color {
    color: #161267;
  }

  .has-error {
    color: #ff0000;
    font-size: 1.2em;
  }

  /* =========================
          ANIMATION
========================= */
@keyframes blind-down {
  0% {
    display: none;
    transform: translateY(-100%);
  }
  100% {
    display: 100%;
    transform: translateY(0);
  }
}

/* =========================
          JavaScript
========================= */

.js--show {
  display: block;
}
.js--hidden {
  display: none;
}

.js--fixed {
  position: fixed;
}

/* =========================
            MESSAGE
========================= */

.message {
  animation: blind-down 1s ease-in-out;
  width: 100%;
  height: 60px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 60px;
  background: rgba(22, 18, 103, 1);
  color: #ffffff;
  z-index: 3;
}

.message__text {
  margin: 0;
  font-size: 1.4em;
}


  /* =========================
            HEADER
========================= */

.header {
  width: 100%;
  height: 60px;
  /* background: #161267; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}


.header__logo {
  float: left;
  line-height: 60px;
  margin: 0;
  padding: 0 16px;
  color: #ffffff;
  font-size: 2.5em;
}



.header__log::after {
  content: "";
  display: block;
  clear: both;
}

.header__direction-wrap {
  float: right;
}

.header__direction-wrap::after {
  content: "";
  display: block;
  clear: both;
}

.header__login {
  display: inline-block;
  margin: 0;
  padding: 0 16px;
  line-height: 60px;
  color: #ffffff;
  font-size: 2.0em;
}

.header__signup {
  display: inline-block;
  margin: 0;
  padding: 0 16px;
  line-height: 60px;
  color: #ffffff;
  font-size: 2.0em;
}

  /* =========================
            HERO
========================= */

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(./../images/hero_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.hero__text {
  margin: 0 0 100px;
  padding: 144px 0 0 80px;
  color: #ffffff;
  font-size: 6.0em;
}

.hero__signup-btn {
  width: 250px;
  height: 3.5em;
  display: block;
  margin-bottom: 32px;
  margin-left: 80px;
  background: #161267;
  border-radius: 2em;
  color: #ffffff;
  font-size: 1.8em;
}

.hero__about-btn {
  width: 250px;
  height: 3.5em;
  display: block;
  margin-bottom: 32px;
  margin-left: 80px;
  background: #ffffff;
  border-radius: 2em;
  color: #161267;
  font-size: 1.8em;
}


  /* =========================
      SIGNUP DRAWER
========================= */

.signup-drawer {
  width: 30%;
  height: 100vh;
  padding: 60px 0 16px;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: -30%;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 1s ease-out 3s;
}

.signup-drawer__times {
  background: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.4em;
}

.signup-drawer__times:focus {
  outline: 0;
}

.sigup-drawer__content-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.signup-drawer__title {
  margin-top: 0;;
  color: #161267;
  font-size: 2.5em;
}

.signup-drawer__to-login {
  margin-bottom: 32px;
}

.agree-label {
  display: table;
  margin: 0 auto;
}

.agree {
  width: auto;
  height: auto;
  margin-right: 10px;
}

.signup-drawer__submit {
  background: #161267;
  border: none;
  color: #ffffff;
}

 