   /* =========================
          HEADER
========================= */

.header__logo {
  color: #161267;
}

.header__login {
  color: #161267;
}

.header__signup {
  color: #161267;
}

/* =========================
         SIGN UP
========================= */

.signup {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 108px;
  background-image: url(./../images/signup.jpg);
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signup__content-wrap {
  width: 50%;
  max-width: 500px;
  min-width: 320px;
  padding: 16px;
  margin: 0 auto;

}

.signup__title {
  margin-top: 0;;
  color: #161267;
  font-size: 2.5em;
}

.signup__to-signin {
  margin-bottom: 32px;
}

.signup__submit {
  background: #161267;
  border: none;
  color: #ffffff;
}